@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  /* LIGHT THEME */
  --background: #ffffff;
  --sidebar: #f8f8f8;

  --text-gray: #737373;
  --text-primary: #000000;

  --accent: #5d2ac3;
  --primary: #5d2ac3;
  --primary-hover: #4f22a8;

  --border-gray: #293041;
  --hover: #293041;
}

.dark {
  --background: #080c18;
  --sidebar: #0d1426;

  --text-gray: #737373;
  --text-primary: #ffffff;

  --accent: #5d2ac3;
  --primary: #5d2ac3;
  --primary-hover: #6b34d9;

  --border-gray: #293041;
  --hover: #293041;
}

@theme {
  --color-background: var(--background);
  --color-sidebar: var(--sidebar);
  --color-accent: var(--accent);

  --color-text: var(--text-gray);
  --color-text-primary: var(--text-primary);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-border: var(--border-gray);
  --color-hover: var(--hover);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text-primary;
  }
  html {
    @apply font-sans;
  }
}

body {
  font-family: "Inter", sans-serif;
  scrollbar-gutter: stable;
}
